html, body {
 @apply h-[100%] w-[100%]
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  background-position: center;
}


.slider2 {
  height: 30vw;
  width: 100%;
  object-fit: cover;
}

.slider {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

.slider .swiper-slide {
  width: 100%;
  height: 80%;
  opacity: 0.4;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.slider .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.slider-warna-2 .swiper-slide {
  width: 100%;
  height: 80%;
  opacity: 0.4;
  object-fit: cover;
  background-size: cover;
}

.slider-warna-2 .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper-navigation {
  height: 20%;
  width: 80%;
}